@import "~src/style/mixins";

.page-container {
	display: flex;
}

.main {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 10rem;
	overflow: hidden;
}

.auth-page {
	padding-top: 10rem;
}

@include minTablet {
	.main {
		padding-left: 2rem;
	}
}

@include minDesktop {
	.home-page {
		padding-right: 320px;
	}
}

@include maxTablet {
	.auth-page {
		padding-top: 3rem;
	}
}
