div.content-editable[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: var(--color-gray);
}

div.content-editable[contenteditable=true]:focus:empty:before{
  color: rgba(255, 255, 255, 0);
}

div.content-editable[contenteditable=true] {
  min-height: 1em;
  line-height: 1.4;

	&:focus {
		cursor: text;
		outline: none;
	}
}
