.date-picker__dim {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: var(--layer-ui);
}

.date-picker__input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.date-picker__calendar {
	position: fixed;
	width: 180px;	
	background-color: var(--color-paper);
	box-shadow: var(--shadow-large);
	border: 1px solid var(--color-gray_weak);
	z-index: var(--layer-ui);
}

.date-picker__date {
	flex: 0 0 1;
	padding: .375em 0;
	text-align: center;
	width: 100%;
	font-size: var(--font-small);
	border-radius: .25rem;

	&:hover {
		background-color: var(--color-bg);
	}

	&--selected {
		border: 1px solid var(--color-primary);
	}

	&--today {
		background-color: var(--color-primary);
		&:hover {
			background-color: var(--color-primary);
		}
	}

	&--hidden {
		visibility: hidden;
	}
}

.date-picker__today-button {
	position: absolute;
	right: 0;
	bottom: 0;
}

