@import '~src/style/mixins';

.home-page {

	&__container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		@include wrapper-wide;
	}

	&__content {
		flex: 100%;
		padding-bottom: var(--header-height);
		overflow: hidden;
	}

	&__board {
		@include flex-default('');
		padding: 1rem;
	}

	&__side {
		position: sticky;
		top: calc(var(--header-height) + 1rem);
		flex: 1 0 auto;
		display: none;
		width: 320px;
		height: 100vh;
		max-height: calc(100vh - var(--header-height) - 1rem);
		padding-bottom: var(--header-height);
		z-index: var(--layer-on);
		overflow-y: auto;
		padding-left: 1rem;

		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none; /* Chrome, Safari, Opera*/
		}
	}

	&__side-inner {
		position: sticky;
		top: 0;
		width: 100%;
	}

	&__side-border {
		margin-left: -1px;
		height: 100vh;
		width: 1rem;
		position: absolute;
		top: 0;
		left: 0;
		cursor: ew-resize;
	}
}

@include maxMobile {
	.home-page {
		&__board {
			padding: .5rem;
			.icon-text__text {
				display: none;
			}
		}
	}
}

@include minDesktop {
	.home-page {
		&__side {
			display: block;
		}
	}
}
