@import './variables';
@import './mixinfiles/module';
@import './mixinfiles/text';
@import './mixinfiles/layout';
@import './mixinfiles/flex';

// ================= Wrapper =================
@mixin wrapper-wide {
  max-width: #{$bp-6};
  margin: 0 auto;
  padding: 0 1rem;
}

@mixin wrapper-normal {
  max-width: #{$bp-3};
  margin: 0 auto;
  padding: 0 1rem;
}

@mixin wrapper-narrow {
  max-width: #{$bp-1};
  margin: 0 auto;
  padding: 0 1rem;
}


// ================= Size =================
@mixin height-100vh {
  height: 100vh;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}




// ================= Event =================
@mixin never-drag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// ================= Layout =================



// ================= Image =================
@mixin image-base {
  background-size: cover;
	background-position: center;
	background-color: var(--color-gray_weaker);
}


// ================= Scroll =================
@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: pan-y;
}



// ================= Break point =================
@mixin minMobile {
  @media (min-width: #{$bp-1}) {
    @content;
  }
}

@mixin minTablet {
  @media (min-width: #{$bp-2}) {
    @content;
  }
}

@mixin minLaptop {
  @media (min-width: #{$bp-3}) {
    @content;
  }
}

@mixin minDesktop {
  @media (min-width: #{$bp-4}) {
    @content;
  }
}

@mixin maxMobile {
  @media (max-width: #{$bp-1 - 1px}) {
    @content;
  }
}

@mixin maxTablet {
  @media (max-width: #{$bp-2 - 1px}) {
    @content;
  }
}

@mixin maxLaptop {
  @media (max-width: #{$bp-3 - 1px}) {
    @content;
  }
}

@mixin maxDesktop {
  @media (max-width: #{$bp-4 - 1px}) {
    @content;
  }
}


// ================= Custom =================
@mixin content-label {
	font-weight: var(--font-bold);
	color: var(--color-gray_strong);
  padding: .5em 0;
	min-width: 150px;
}

@mixin content-box {
  min-height: 1em;
  line-height: 1.4;
  border-radius: .25em;
  padding: .5em .75em;
  cursor: pointer;
  white-space: pre-wrap;
  &:hover {
    background-color: var(--color-bright_weakest);
  }
  &:focus {
    background-color: var(--color-bright_weakest);
    box-shadow: var(--shadow-large);
  }
}
