.selector-item.input-box {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: var(--color-gray);
	font-weight: var(--weight-bold);

	&:not(:first-child) {
		border-left: 0;
	}

	&.selector-item--selected {
		color: var(--color-white);
		background-color: var(--color-primary);
		border-color: var(--color-primary);
	}
}
