@import '~src/style/mixins';

.indicator {
	height: var(--indicator-height);
	display: flex;
	align-items: center;
	padding-right: 1rem;
	padding-left: 1rem;
}

@include minTablet {
	.indicator {
		padding-left: 0;
	}
}
