@import '~src/style/mixins';

.indicator {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: .5rem;
	padding-left: .5rem;
}

@include minTablet {
	.indicator {
		height: 6rem;
		padding-left: 0;
	}
}
