@import '~src/style/mixins';

.indicator {
	height: var(--indicator-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: .5rem;
	padding-left: .5rem;
}

@include minTablet {
	.indicator {
		padding-left: 0;
	}
}
