.account-list {
	overflow: auto;
	position: relative;
	margin-left: -2rem;
	padding-left: 2rem;
	padding-bottom: 0;

	&__edit-icon {
		opacity: 0;
	}
	
	table {
		text-align: center;

		tbody {

			tr:hover .account-list__edit-icon {
				opacity: 1;
				cursor: pointer;
			}

			td {
				white-space: nowrap;
				background-color: var(--color-bg_weak);
				&:not(.t-right):not(.t-left) {
					.time-picker,
					.date-picker,
					.labeled-content-editable {
						justify-content: center;
					}
					.content-box {
						width: fit-content;
						justify-content: center;
						text-align-last: center;
						text-align: center;
						-ms-text-align-last: center;
						-moz-text-align-last: center;
					}
				}

				
			}
		}
	}
}