@import '~src/style/mixins';

.modal {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--layer-modal);
  display: flex;

  &__container {
    max-width: var(--bp-1);
    width: 100%;
    max-height: 90vh;
    background-color: var(--color-paper);
    box-shadow: var(--shadow-large);
    border-radius: 0.25rem;
    overflow: auto;
    z-index: var(--layer-on);
  }

  &__dim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__x-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--layer-on);
  }

  &__header {
    z-index: var(--layer-on);

    &--sticky {
      position: sticky;
      top: 0;
      background-color: var(--color-paper);
    }

    &--shadow {
      box-shadow: var(--shadow-small);
    }
  }

  &__content {
    &--pre-line {
      white-space: pre-line;
    }
  }

  &__footer {
    z-index: var(--layer-on);

    &--flex {
      @include flex;
      flex-direction: row-reverse;
    }

    &--sticky {
      position: sticky;
      bottom: 0;
      background-color: var(--color-paper);
    }
  }
}

@include maxMobile {
  .modal {
    &__container {
      max-width: calc(100vw - 2rem);
    }
  }
}
