@import '~src/style/mixins';

.aside {
	width: var(--aside-width);
	background-color: var(--color-paper);
	transition: .3s;
	padding: 0 1rem;
	border-right: 1px solid var(--color-gray_weaker);
}

.aside-content {
	position: sticky;
	top: 0;
}

.aside-icon {
	width: var(--header-height);
	padding: 0;
}

.aside-wide {
	width: var(--aside-width_wide);
}

.aside-right {
	left: auto;
	right: 0;
}
