@import '~src/style/mixins';

.aside {
	width: var(--header-height);
	background-color: var(--color-paper);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	transition: .3s;
	padding: 0;
	z-index: var(--layer-aside);
}

.aside:hover {
	width: var(--aside-width);
	padding: 0 .5rem;
	box-shadow: var(--shadow-large);
}

.aside-wide {
	width: var(--aside-width_wide);
}

.aside-right {
	left: auto;
	right: 0;
}
