.button.kakao-login-button {
	border: 1px solid #d4b519;
	background: #f7d41e;
	color: #381E1F;
	gap: .25rem;
}

.kakao-login-button {
	&__icon {
		flex-shrink: 0;
	}

	&__text {
		@include ellipsisLines(2);
	}
}
