@import "./variables";


@mixin wrapper-wide {
  max-width: #{$bp-6};
  margin: 0 auto;
  padding: 0 1rem;
}

@mixin wrapper-narrow {
  max-width: #{$bp-2};
  margin: 0 auto;
  padding: 0 1rem;
}


@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


@mixin minMobile {
  @media (min-width: #{$bp-1}) {
    @content;
  }
}

@mixin minTablet {
  @media (min-width: #{$bp-2}) {
    @content;
  }
}

@mixin minLaptop {
  @media (min-width: #{$bp-3}) {
    @content;
  }
}

@mixin minDesktop {
  @media (min-width: #{$bp-4}) {
    @content;
  }
}

@mixin maxMobile {
  @media (max-width: #{$bp-1 - 1px}) {
    @content;
  }
}

@mixin maxTablet {
  @media (max-width: #{$bp-2 - 1px}) {
    @content;
  }
}

@mixin maxLaptop {
  @media (max-width: #{$bp-3 - 1px}) {
    @content;
  }
}

@mixin maxDesktop {
  @media (max-width: #{$bp-4 - 1px}) {
    @content;
  }
}

