.input-container {
	width: 15rem;
}

.input-container.fluid {
	display: block;
}

.input-label {
	font-size: var(--font-small);
	font-weight: var(--font-bold);
	text-align: left;
	line-height: 1;
	color: var(--color-gray_strong);
	margin-bottom: .25rem;
	display: block;
}

.input-box {
	width: 100%;
	border: 1px solid var(--color-gray_weak);
	height: 2.25rem;
	background: var(--color-paper);
	color: var(--color-pen);
	padding: 0 .5rem;
}

.content-label {
	@include content-label;
}

.content-box {
	@include content-box;
}

select.content-box {
	font-size: var(--font-regular);
	background: none;
	color: inherit;
	outline: none;
	border: 0;
	width: 100%;

	-moz-appearance: none;
	-webkit-appearance: none;
	&::-ms-expand {
    display: none;
	}
}

.content-text {
  padding: .125em 0;
  cursor: text;
	white-space: pre-wrap;
}


table {
	border-spacing: 0;
	width: 100%;

	thead {
		th {
			color: var(--color-gray);
			font-size: var(--font-small);
			padding: .25rem .75rem;
			border-bottom: 1px solid var(--color-gray_weaker);
			z-index: var(--layer-on);
			white-space: nowrap;
			background-color: var(--color-paper);
		}
	}

	tbody {
		tr td {
			border-bottom: 1px solid var(--color-gray_weaker);
		}
		tr:hover {
			background-color: var(--color-dark_weakest);
		}
	}
}

