.input-container {
	width: 15rem;
}

.input-container.fluid {
	display: block;
}

.input-label {
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
	text-align: left;
	line-height: 1;
	color: var(--color-gray_strong);
	margin-bottom: .25rem;
	display: block;
}

.input-box {
	width: 100%;
	border: 1px solid var(--color-gray_weak);
	height: 2.5rem;
	background: var(--color-paper);
	color: var(--color-pen);
	padding: 0 .5rem;
}

.content-label {
	font-weight: var(--weight-bold);
	color: var(--color-gray_strong);
  padding: .5em 0;
	min-width: 150px;	
}

.content-box {
	min-height: 1em;
  line-height: 1.4;
  border-radius: .25em;
	padding: .5em .75em;
  cursor: pointer;
	white-space: pre-wrap;

	&:hover {
		background-color: var(--color-white_weakest);
	}

	&:focus {
		background-color: var(--color-white_weakest);
		box-shadow: var(--shadow-large);
	}
}

select.content-box {
	font-size: var(--font-regular);
	background: none;
	color: inherit;
	outline: none;
	border: 0;
	width: 100%;

	-moz-appearance: none;
	-webkit-appearance: none;
	&::-ms-expand {
    display: none;
	}
}

.content-text {
  padding: .125em 0;
  cursor: text;
}


table {
	border-spacing: 0;
	width: 100%;

	thead {
		th {
			color: var(--color-gray);
			font-size: var(--font-small);
			padding: .25rem .75rem;
			border-bottom: 1px solid var(--color-gray_weaker);
			z-index: var(--layer-on);
			white-space: nowrap;
			background-color: var(--color-bg);
		}
	}

	tbody {
		tr:not(:first-child) td {
			border-top: 1px solid var(--color-gray_weaker);
		}
		tr:hover {
			background-color: var(--color-white_weakest);
		}
	}
}

