.input-container {
	width: 15rem;
}

.input-container.fluid {
	display: block;
}

.input-label {
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
	text-align: left;
	line-height: 1;
	color: var(--color-gray_strong);
	margin-bottom: .25rem;
	display: block;
}

.input-box {
	width: 100%;
	border: 1px solid var(--color-gray_weak);
	height: 2.5rem;
	background: var(--color-paper);
	color: var(--color-pen);
	padding: 0 .5rem;
}

.content-label {
	font-weight: var(--weight-bold);
	color: var(--color-gray_strong);
  padding: .5em 0;
	min-width: 150px;	
}

.content-box {
  border-radius: .25em;
	padding: .5em .75em;
  cursor: pointer;
	white-space: pre-wrap;

	&:hover {
		background-color: var(--color-white_weakest);
	}

	&:focus {
		background-color: var(--color-white_weakest);
		box-shadow: var(--shadow-large);
	}
}

.content-text {
  padding: .5em 0;
  cursor: text;
}