@import "~src/style/mixins";

p {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000;
	color: var(--color-pen);
	background: rgb(243,243,243);
	background: var(--color-bg);
}

body, button {
	font-size: 14px;
}

a, button {
	cursor: pointer;
}


* {
	box-sizing: border-box;
}


// @include maxMobilePort {
// 	body {
// 		background: red;
// 	}
// }

// @include minTablet {
// 	body {
// 		background: green;
// 	}
// }
