@import '~src/style/mixins';

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

	&-inline {
		display: inline-flex;
	}

	&-end {
		justify-content: flex-end;
	}
	
	&-start {
		justify-content: flex-start;
	}
}

.flex-gap {
	&-tiny {
		> *:not(:first-child) {
			margin-left: .25rem;
		}
	}
	
	&-small {
		> *:not(:first-child) {
			margin-left: .5rem;
		}
	}
	
	&-regular {
		> *:not(:first-child) {
			margin-left: 1rem;
		}
	}
}


@include maxMobile {
	.flex-column-mobile {
		flex-direction: column;	
		justify-content: flex-start;
		align-items: flex-start;
	}
}
