@import "~src/style/mixins";

/********* Block States *********/
.wrap {
  max-width: 900px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.wrap-narrow {
  max-width: 400px;
}

.position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.p-tiny {
  padding: .25rem;
}

.p-small {
  padding: .5rem;
}

.p-regular {
  padding: 1rem;
}

.p-medium {
  padding: 1.25rem;
}

.p-large {
  padding: 1.5rem;
}

.p-big {
  padding: 2rem;
}

.p-huge {
  padding: 3rem;
}

.gap-tiny {
  > * {
    &:not(:first-child) { margin-top: .25rem; }
    &:not(:last-child) { margin-bottom: .25rem; } 
  }
}

.gap-small {
  > * {
    &:not(:first-child) { margin-top: .5rem; }
    &:not(:last-child) { margin-bottom: .5rem; } 
  }
}

.gap-regular {
  > * {
    &:not(:first-child) { margin-top: 1rem; }
    &:not(:last-child) { margin-bottom: 1rem; } 
  }
}

.mv-small {
  &:not(:first-child) { margin-top: .5rem; }
  &:not(:last-child) { margin-bottom: .5rem; }
}

.mv-regular {
  &:not(:first-child) { margin-top: 1rem; }
  &:not(:last-child) { margin-bottom: 1rem; }
}

.mv-medium {
  &:not(:first-child) { margin-top: 1.5rem; }
  &:not(:last-child) { margin-bottom: 1.5rem; }
}

.mv-large {
  &:not(:first-child) { margin-top: 2rem; }
  &:not(:last-child) { margin-bottom: 2rem; }
}

.mv-big {
  &:not(:first-child) { margin-top: 2.5rem; }
  &:not(:last-child) { margin-bottom: 2.5rem; }
}

.mv-huge {
  &:not(:first-child) { margin-top: 4rem; }
  &:not(:last-child) { margin-bottom: 4rem; }
}


@include maxMobile {
  .hide-mobile {
    display: none;
  }
}

@include maxTablet {
  .hide-tablet {
    display: none;
  }
}

@include maxLaptop {
  .hide-laptop {
    display: none;
  }
}

@include maxDesktop {
  .hide-desktop {
    display: none;
  }
}
