@import "~src/style/mixins";

/********* Block States *********/
.p-small {
  padding: .5rem;
}

.p-regular {
  padding: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex.end {
  justify-content: flex-end;
}

.flex.start {
  justify-content: flex-start;
}

.fluid {
  width: 100%;
}

.disabled {
  opacity: .5;
  font-style: italic;
}

button.diabled {
  cursor: not-allowed; 
}

.gap-small {
  &:not(:first-child) { margin-top: .5rem; }
  &:not(:last-child) { margin-bottom: .5rem; }
}

/********* Font States *********/
.pre {
  white-space: pre-line;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.keep-word {
  word-break: keep-all;
}


