@import "~src/style/mixins";

.p-tiny {
  padding: .25rem;
}

.p-small {
  padding: .5rem;
}

.p-regular {
  padding: 1rem;
}

.p-medium {
  padding: 1.25rem;
}

.p-large {
  padding: 1.5rem;
}

.p-big {
  padding: 2rem;
}

.p-huge {
  padding: 3rem;
}

.gap-tiny {
  > * {
    &:not(:first-child) { margin-top: .25rem; }
    &:not(:last-child) { margin-bottom: .25rem; } 
  }
}

.gap-small {
  > * {
    &:not(:first-child) { margin-top: .5rem; }
    &:not(:last-child) { margin-bottom: .5rem; } 
  }
}

.gap-regular {
  > * {
    &:not(:first-child) { margin-top: 1rem; }
    &:not(:last-child) { margin-bottom: 1rem; } 
  }
}

.mv-small {
  &:not(:first-child) { margin-top: .5rem; }
  &:not(:last-child) { margin-bottom: .5rem; }
}

.mv-regular {
  &:not(:first-child) { margin-top: 1rem; }
  &:not(:last-child) { margin-bottom: 1rem; }
}

.mv-medium {
  &:not(:first-child) { margin-top: 1.5rem; }
  &:not(:last-child) { margin-bottom: 1.5rem; }
}

.mv-large {
  &:not(:first-child) { margin-top: 2rem; }
  &:not(:last-child) { margin-bottom: 2rem; }
}

.mv-big {
  &:not(:first-child) { margin-top: 2.5rem; }
  &:not(:last-child) { margin-bottom: 2.5rem; }
}

.mv-huge {
  &:not(:first-child) { margin-top: 4rem; }
  &:not(:last-child) { margin-bottom: 4rem; }
}

@include maxTablet {
  .p-none-tablet {
    padding: 0;
  }

  .p-tiny-tablet {
    padding: .25rem;
  }
  
  .p-small-tablet {
    padding: .5rem;
  }
  
  .p-regular-tablet {
    padding: 1rem;
  }
  
  .p-medium-tablet {
    padding: 1.25rem;
  }
  
  .p-large-tablet {
    padding: 1.5rem;
  }
  
  .p-big-tablet {
    padding: 2rem;
  }
  
  .p-huge-tablet {
    padding: 3rem;
  }

  .mv-none-tablet {
    &:not(:first-child) { margin-top: 0; }
    &:not(:last-child) { margin-bottom: 0; }
  }
  
  .mv-small-tablet {
    &:not(:first-child) { margin-top: .5rem; }
    &:not(:last-child) { margin-bottom: .5rem; }
  }

  .mv-regular-tablet {
    &:not(:first-child) { margin-top: 1rem; }
    &:not(:last-child) { margin-bottom: 1rem; }
  }
  
  .mv-medium-tablet {
    &:not(:first-child) { margin-top: 1.5rem; }
    &:not(:last-child) { margin-bottom: 1.5rem; }
  }
  
  .mv-large-tablet {
    &:not(:first-child) { margin-top: 2rem; }
    &:not(:last-child) { margin-bottom: 2rem; }
  }
  
  .mv-big-tablet {
    &:not(:first-child) { margin-top: 2.5rem; }
    &:not(:last-child) { margin-bottom: 2.5rem; }
  }
  
  .mv-huge-tablet {
    &:not(:first-child) { margin-top: 4rem; }
    &:not(:last-child) { margin-bottom: 4rem; }
  }
}


@include maxMobile {
  .p-none-mobile {
    padding: 0;
  }

  .p-tiny-mobile {
    padding: .25rem;
  }
  
  .p-small-mobile {
    padding: .5rem;
  }
  
  .p-regular-mobile {
    padding: 1rem;
  }
  
  .p-medium-mobile {
    padding: 1.25rem;
  }
  
  .p-large-mobile {
    padding: 1.5rem;
  }
  
  .p-big-mobile {
    padding: 2rem;
  }
  
  .p-huge-mobile {
    padding: 3rem;
  }

  .mv-none-mobile {
    &:not(:first-child) { margin-top: 0; }
    &:not(:last-child) { margin-bottom: 0; }
  }
  
  .mv-small-mobile {
    &:not(:first-child) { margin-top: .5rem; }
    &:not(:last-child) { margin-bottom: .5rem; }
  }

  .mv-regular-mobile {
    &:not(:first-child) { margin-top: 1rem; }
    &:not(:last-child) { margin-bottom: 1rem; }
  }
  
  .mv-medium-mobile {
    &:not(:first-child) { margin-top: 1.5rem; }
    &:not(:last-child) { margin-bottom: 1.5rem; }
  }
  
  .mv-large-mobile {
    &:not(:first-child) { margin-top: 2rem; }
    &:not(:last-child) { margin-bottom: 2rem; }
  }
  
  .mv-big-mobile {
    &:not(:first-child) { margin-top: 2.5rem; }
    &:not(:last-child) { margin-bottom: 2.5rem; }
  }
  
  .mv-huge-mobile {
    &:not(:first-child) { margin-top: 4rem; }
    &:not(:last-child) { margin-bottom: 4rem; }
  }
}
