$light-theme: (
	color-pen: #000,
	color-bg: rgb(243,243,243),
	color-primary: #8d72d7,
);

$dark-theme: (
	color-pen: #c1bfbd,
	color-bg: #161718,
	color-primary: #8d72d7,
);

:root{
	@each $key, $value in $light-theme {
			#{"--" + $key}: #{$value};
	}
}

[data-theme="dark"] {
	@each $key, $value in $dark-theme {
		#{"--" + $key}: #{$value};
	}
}
