@import '~src/style/mixins';
@import './variables';

$common-theme: (
	white: #fff,
	black: #000,
);

$light-theme: (
	pen: #000,
	pencel: #51535A,
	paper: #fff,
	bg: #fafafc,
	primary: #8d72d7,
	red: #f66767,
	gray_strong: #7F8489,
	gray: #a4aaaf,
	gray_weak: #dbdde2,
	gray_weaker: #e2e4eb,
	white_weakest: rgba(0, 0, 0, 0.05),
	dim: rgba(255, 255, 255, 0.3),
);

$dark-theme: (
	pen: #fff,
	pencel: #c1c4ce,
	paper: #212225,
	bg: #161718,
	primary: #8d72d7,
	red: #f66767,
	gray_strong: #7F8489,
	gray: #4d5154,
	gray_weak: #37383b,
	gray_weaker: #262729,
	white_weakest: rgba(255, 255, 255, 0.05),
	dim: rgba(0, 0, 0, 0.7),
);

@each $key, $value in $common-theme {
	.bgc-#{''+$key} {
		background-color: var(--color-#{$key})
	}
	.c-#{''+$key} {
		color: var(--color-#{$key})
	}
}

@each $key, $value in $light-theme {
	.bgc-#{''+$key} {
		background-color: var(--color-#{$key})
	}
	.c-#{''+$key} {
		color: var(--color-#{$key})
	}
}

:root{

	--font-tiny: 0.625rem;
	--font-small: 0.75rem;
	--font-regular: 0.875rem;
	--font-medium: 1rem;
	--font-large: 1.25rem;
	--font-big: 1.5rem;
	--font-huge: 2rem;

	--weight-thin: 100;
	--weight-regular: 400;
	--weight-bold: 700;

	--bp-1: #{$bp-1};
	--bp-2: #{$bp-2};
	--bp-3: #{$bp-3};
	--bp-4: #{$bp-4};

	--shadow-small: 0 2px 2px rgba(0, 0, 0, 0.08);
	--shadow-large: 0 20px 25px rgba(0, 0, 0, 0.4);

	--layer-ui: 50;
	--layer-modal: 40;
	--layer-aside: 30;
	--layer-header: 20;
	--layer-on: 1;

	--header-height: 60px;
	--indicator-height: 4rem;
	--aside-width: 250px;
	--aside-width_wide: 320px;

	@each $key, $value in $common-theme {
		#{"--color-" + $key}: #{$value};
	}

	@each $key, $value in $light-theme {
		#{"--color-" + $key}: #{$value};
	}
}

[data-theme="dark"] {

	--shadow-small: 0 2px 2px rgba(0, 0, 0, 0.4);

	@each $key, $value in $dark-theme {
		#{"--color-" + $key}: #{$value};
	}
}

@include minTablet {
	:root {
		--indicator-height: 6rem;
	}
}
