.accordion-table {

	--accordion-height: 32px;

	&__row {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: var(--accordion-height);

		&:not(.accordion-table__head):hover {
			background-color: var(--color-dark_weakest);
		}
	}

	&__col {
		width: 100%;
		padding: .5rem;

		&:not(:first-child) {
			text-align: right;
		}
	}

	&__head {
		font-weight: var(--font-bold);
		color: var(--color-gray);
		border-bottom: 1px solid var(--color-gray_weaker);
		padding-top: .5rem;
	}

	&__group {
		font-weight: var(--font-bold);
	}

	&__items {
		overflow: hidden;
		transition: .3s;
		opacity: .8;

		&--hide {
			height: 0 !important;
		}
	}

	&__item {
		&:first-child {
			padding-left: 1rem;
		}
	}

}