.monthly-calendar-row {
	display: flex;
}

.monthly-calendar-col {
	flex: 1 0 0px;
	min-height: 120px;
	background-color: var(--color-bg);
	border-bottom: 1px solid var(--color-gray_weak);
	&:not(:first-child) {
		border-left: 1px solid var(--color-gray_weak);
	}

	-ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}