.category-board__row {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	border-top: 1px solid var(--color-gray_weaker);
	border-bottom: 1px solid var(--color-gray_weaker);
	background-color: var(--color-bg_weak);
}

.category-board__group-title {
	padding: .25rem .75rem;
	font-weight: var(--font-bold);
	font-size: var(--font-small);
	color: var(--color-gray);
}