.board-item {
	position: relative;
	min-height: 100px;
	flex: 1 0 0px;
	padding: .5rem;
	background-color: var(--color-bg);
	border-bottom: 1px solid var(--color-gray_weaker);
	overflow: hidden;
	&:not(:first-child) {
		border-left: 1px solid var(--color-gray_weaker);
	}
}

.board-item-col-4 {
	flex: initial;
	width: 25%;
}

.board-item-grapping {
	position: absolute;
	top: -.25rem;
	bottom: -.25rem;
	left: 0;
	width: 100%;
	opacity: .3;
	background-color: var(--color-primary);
}
