@import '~/src/style/mixins';

.category-list-group {
  &__title {
    @include ellipsis;
    padding: 0.25em 0;
    margin-bottom: 0.25em;
    font-size: var(--font-small);
    font-weight: var(--font-bold);
    color: var(--color-gray_strong);
    &--clickable {
      cursor: pointer;

      &:hover::after {
        content: 'edit';
        display: inline-block;
        color: var(--color-primary);
        font-weight: var(--font-normal);
        margin-left: 0.5em;
      }
    }
    &--disabled {
      font-style: italic;
    }
  }

  &__list {
    @include gap(0.5rem);
  }

  &__placeholder {
    @include textPlaceholder;
  }
}
