@import '~src/style/mixins';

.header {
	display: flex;
	align-items: center;
	box-sizing: content-box;
	width: 100%;
	height: var(--header-height);
	background-color: var(--color-paper);
	margin-bottom: 1rem;
	position: sticky;
	top: 0;
	z-index: var(--layer-header);
	box-shadow: var(--shadow-small);

	&__hamburger {
		display: none;
	}
}


@include maxTablet {
	.header {

		&__hamburger {
			display: block;
			width: var(--header-height);
			height: var(--header-height);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__title {
			padding-left: 1rem;
			font-size: var(--font-big);
		}
	}
}
