@import '~src/style/mixins';

.header {
	display: flex;
	align-items: center;
	padding-top: 2rem;
	box-sizing: content-box;
	width: 100%;
	height: var(--header-height);
}


@include maxTablet {
	.header {
		padding-top: 0;
	}

	.header-title {
		padding-left: .5rem;
	}
}
