@import '~/src/style/mixins';

.global-header {

	background-color: var(--color-paper);

	&__inner {
		@include flex;
		@include wrapper-normal;
		gap: 2rem;
		> * { flex-shrink: 0; };
		> *:nth-child(2) { flex: 100% };
	}
}