@import '../mixinfiles/text';

@mixin box-input {
  width: 100%;
  min-height: 1em;
  line-height: 1.4;
  border-radius: 0.25em;
  padding: 0.5em 0.75em;
  white-space: pre-wrap;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: var(--color-dark_weakest);
  }
}

@mixin box-input-label {
  @include ellipsis;
  padding: 0.5em 0;
  font-weight: var(--font-bold);
  color: var(--color-gray_strong);
  max-width: 100px;
  width: 100%;
}

@mixin box-input-oneline {
  @include hide-scroll;
  overflow-x: auto;
  white-space: nowrap;
}

@mixin box-input-pseudos {
  &:focus {
    cursor: text;
    outline: none;
    background-color: var(--color-bright_weakest);
    box-shadow: var(--shadow-large);
  }

  &:empty::before {
    content: attr(placeholder);
    display: block;
    color: var(--color-gray);
  }

  &:focus:empty::before {
    color: rgba(255, 255, 255, 0);
  }
}
