@mixin input {
  width: 15rem;

  &--fluid {
    width: 100%;
  }

  &__label {
    @include ellipsis;
    font-size: var(--font-small);
    font-weight: var(--font-bold);
    text-align: left;
    line-height: 1;
    color: var(--color-gray_strong);
    margin-bottom: 0.25rem;
    display: block;
  }

  &__label--error {
    color: var(--color-red);
  }

  &__error-message {
    @include ellipsisLines(2);
    font-size: var(--font-small);
    text-align: left;
    color: var(--color-red);
    margin-top: 2px;
  }

  &__box {
    outline: none;
    border-radius: 0;
    width: 100%;
    border: 1px solid var(--color-gray_weak);
    height: 2.25rem;
    background: var(--color-paper);
    color: var(--color-pen);
    padding: 0 0.5rem;

    &::placeholder {
      color: var(--color-gray_weak);
    }

    &--readonly {
      pointer-events: none;
    }

    &--disabled {
      cursor: not-allowed;
      background: var(--color-dark_weakest);
    }

    &--error {
      color: var(--color-red);
      border-color: var(--color-red);
      &::placeholder {
        color: var(--color-red_t_weak);
      }
    }
  }
}
