@import '~src/style/mixins';

.management-list {

	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}

	&__each {
		min-height: 5rem;
		position: relative;
		overflow: hidden;
	}

	&__group {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: .25rem;
		margin-bottom: .25rem;

		> p {
			color: var(--color-gray);
			font-weight: var(--weight-bold);
		}

		.management-list__icon {
			transition: .3s;
			opacity: 0;
		}
	}

	&__group:hover .management-list__icon {
		opacity: 1;
	}

	&__empty {
		padding: .5rem 0;
		color: var(--color-gray);
		font-style: italic;
	}

}


@include maxTablet {
	.management-list {
		&__group .management-list__icon {
			opacity: 1;
		}

		&__container {
			grid-template-columns: 1fr;
		}
	}
}
