.time-picker {
	color: red;
}

.time-picker-input {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.time-picker-timer {
	position: fixed;
	width: 180px;	
	background-color: var(--color-paper);
	box-shadow: var(--shadow-large);
	border: 1px solid var(--color-gray_weak);
	z-index: var(--layer-ui);

	input {
    background: none;
    border: none;
    font-size: var(--font-large);
    color: var(--color-pen);;
	}
}
