.board-item {
	position: relative;
	min-height: 100px;
	flex: 1 0 0px;
	padding: .5rem;
	background-color: var(--color-bg_weak);
	overflow: hidden;
	&:not(:last-child) {
		border-right: 1px solid var(--color-gray_weaker);
	}

	&__title {
		&--no-name {
			color: var(--color-gray);
			font-style: italic;
		}
	}

	&__grabbing {
		position: absolute;
		top: -.25rem;
		bottom: -.25rem;
		left: 0;
		width: 100%;
		opacity: .3;
		background-color: var(--color-primary);
	}

	&__plus-button {
		margin-top: -.25rem;
		transition: .3s;
		visibility: hidden;
		opacity: 0;
	}

	&--col-4 {
		flex: initial;
		width: 25%;
	}

	&:hover {
		.board-item__plus-button {
			visibility: visible;
			opacity: 1;
		}
	}
}

