@import '~src/style/mixins';

.picker-header {
  padding: 0.5rem;
  padding-right: 0.25rem;

  @include flex;

  &__arrows {
    @include flex;
  }

  &__arrow {
    font-size: var(--font-small);
    cursor: pointer;
    padding: var(--size-small);
    border-radius: 0.25rem;

    @include never-drag;

    &:hover {
      background-color: var(--color-bg);
    }
  }
}
